#primary{
	border: 1px solid black;
	width: 350px;
	height: 50px;
}

#slideAdd{
	width:150px;
	border:1px solid black;
	background-color: brown;
	color: white;
}



p{
	height:500px;
}

em{
	display: none;
}